obj/Debug/net6.0/PruebaDefinitiva2.AssemblyInfo.cs
obj/Debug/net6.0/PruebaDefinitiva2.AssemblyInfoInputs.cache
obj/Debug/net6.0/PruebaDefinitiva2.assets.cache
obj/Debug/net6.0/PruebaDefinitiva2.csproj.AssemblyReference.cache
obj/Debug/net6.0/PruebaDefinitiva2.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/PruebaDefinitiva2.GlobalUsings.g.cs
